{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section shadow">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 text-decoration-none" href="{% url 'user-profile' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"j F, Y" }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>
{% if form %}
    <div>
        {% crispy form %}
    </div>
{% endif %}
{% if post_comments %}
    <div class="comment-section">
        {% for comment in post_comments %}
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                <img class="rounded-circle border comment-img me-2" src="{{ comment.user.profile.image.url }}" alt="">
                <label class="me-2">{{ comment.user }}</label>
                <span class="me-auto text-muted time-small">{{ comment.date }}</span>
                <div class="align-self-end">
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="comment-option{{ comment.id }}" id="like{{ comment.id }}" autocomplete="off"
                            {% if user.is_authenticated %}
                                {% for comment_r in comment_user_vote_list %}
                                {{ comment_r.action }}
                                    {% if comment_r.comment.id == comment.id and comment_r.action == 'like' %}checked{% endif %}
                                {% endfor %}
                            {% endif %}>
                            <label class="btn btn-outline-success btn-outline-success-inverted btn-padding-0 comment-vote" action="like" comment-id="{{ comment.id }}" for="like{{ comment.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                            </label>
                            {% if comment.postcommentrating_set.first %}
                                <span class="btn btn-secondary btn-padding score fw-bold disabled
                                {% if comment.postcommentrating_set.first.get_rating > 0 %}text-success 
                                {% elif comment.postcommentrating_set.first.get_rating < 0 %}text-danger
                                {% else %}text-muted
                                {% endif %}" id="{{ comment.id }}-score">{{ comment.postcommentrating_set.first.get_rating }}</span>
                            {% else %}
                                <span class="btn btn-secondary btn-padding score fw-bold disabled text-muted" id="{{ comment.id }}-score">0</span>
                            {% endif %}
                            <input type="radio" class="btn-check" name="comment-option{{ comment.id }}" id="dislike{{ comment.id }}" autocomplete="off"
                            {% if user.is_authenticated %}
                                {% for comment_r in comment_user_vote_list %}
                                    {% if comment_r.comment.id == comment.id and comment_r.action == 'dislike' %}checked{% endif %}
                                {% endfor %}
                            {% endif %}>
                            <label class="btn btn-outline-danger btn-outline-danger-inverted btn-padding-0 comment-vote" action="dislike" comment-id="{{ comment.id }}" for="dislike{{ comment.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-square-fill bi-arrow" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"></path>
                                </svg>
                            </label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ comment.content }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if comments_count > 7 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if post_comments.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item">
                <a class="page-link" href="?page={{ post_comments.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
        {% endif %}

        {% for num in post_comments.paginator.page_range %}
            {% if post_comments.number == num %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > post_comments.number|add:'-3' and num < post_comments.number|add:'3'%}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if post_comments.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_comments.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            <li class="page-item"><a class="page-link" href="?page={{ post_comments.paginator.num_pages }}">Last</a></li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
    
{% endif %}
{% endblock content %}